/* Global */
body {
	background-color: #aba699;
	color: darkslategray;

}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 50px;
}

.spacing200{
	min-height: 200px;
}

.spacing100{
	min-height: 100px;
}

.spacing50 {
	min-height: 50px;
}

.spacing30 {
	min-height: 30px;
}
.spacing70 {
	min-height: 70px;
}

.spacing550 {
	min-height: 550px;
}
.button1 {

}

/* Header */

header {
	margin-top: 100px;
	height: 650px;
	background-color: #fcfaf5;
	border-radius: 5em;
}

#title {
	font-family: Zilla Slab Highlight;
	text-transform: uppercase;
	color: darkgoldenrod;
	font-size: 50px;
	display: inline-block;
	width: 50%;
	overflow: hidden;
}

#title span {
	font-size: 18px;
	font-family: calibri, arial, sans-serif;
	font-weight: normal;
}

nav {
	display:inline-block;
	text-align: right;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	width: 50%;
	overflow: hidden;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
}
nav button {
	background-color: darkgoldenrod;
	font-family: consolas;
	font-weight: bold;
	font-size: 15px;
	border: none;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 5em;
}

nav button:hover {
	background-color: #d3d3d3;
	color: black;
}

#h_background {
	background-image: url("../img/h_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	height: 400px;
}

header img {
	border-radius: 50%;
	float: left;
	height: 350px;
}

#bio {
	min-height: 350px;
}

#bio h1 {
	font-size: 50px;
	font-family: consolas;
	margin: 0;
	margin-top: 30px;
	padding: 0;
}

#bio p {
	font-family: calibri, arial, sans-serif;
	font-size: 15px;
	line-height: 170%;
	margin: 0;
	padding: 0;
}

#bio #about_me{
	padding: 0;
	font-size: 30px;
	margin-top: 5px;
}

#bio h1, #bio p{
	margin-left: 400px;
	margin-right: 50px;
}

#sec2 {
	min-height: 500px;
	background-color: #fcfaf5;
	border-radius: 5em;
	display: table;
	text-align: center;
	font-size: 18px;
}

#sec2head {
	font-size: 50px;
	display: table-row;
	font-family: consolas;
}

.#sec2_container {
	width: 90%;
	margin: auto;
	vertical-align: center;
	display: table-cell;
	overflow: hidden;
}

.pic_box {
	display: inline-block;
	border-radius: 1em;
	padding: 0;
	width: 230px;
	overflow: hidden;
	font-family: calibri, arial, sans-serif;
}

.pic_box:hover {
	background-color: #d3d3d3;
}

.pic_box img {
	width: 160px;
}

.pic_box a {
	text-decoration: none;
	color: darkslategray;
}

footer {
	height: 200px;
	display: table;
	width: 100%;
	background-color: black;
	border-top-left-radius: 5em;
	border-top-right-radius: 5em;
	text-align: center;
}

footer h1 {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-family: consolas;
}

footer span {
	font-size: 30px;
	font-family: calibri, arial, sans-serif;
	font-weight: 100;
}



