body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width:80%;
    margin: auto;
    text-justify: center;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.current{
    color: #019fb5;
    font-weight:bold;
}

.button_1{
    display:inline-block;
    height:38px;
    background:#019fb5;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

.button_1:hover{
    border: white 2px solid;
}

/* Header */
header {
    background-color:#35424a;
    color: white;
    padding-top:30px;
    min-height:70px;
    border-bottom: white 3px solid; /*#e8491d;*/
}

#name {
    color:#019fb5; /*#e8491d;*/
    font-weight:bold;
    text-transform: uppercase;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
header li{
    display: inline-block;
    padding: 0 20px 0 20px;
}

header #branding{
    display: inline-block;
    width: 50%;
}

nav {
    display: inline-block;
    text-align: right;
    width: 50%;
}

nav a:hover{
    color:#cccccc;
    font-weight:bold;
}
/* Showcase */

#showcase{
    min-height:570px;
    background-image: url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom: black solid 3px;
    text-align: center;
    color: white;
    margin: auto;
    overflow: hidden;
    display: table;
}

#showcase h1{
    font-size: 55px;
    color:white;
}

#showcase p{
    background-color: white;
    color:darkslategrey;
    font-size:25px;
}

.textbox {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: hidden;
}

/* Boxes */

#boxes{
    margin-top: 20px;
    display: table;
    width: 100%;
}

#boxes_cell {
    display: table-cell;
    text-align: center;
}

#boxes .box{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    padding: 10px;
}

#boxes img{
    width: 200px;
    height: 200px;
}

/* Newsletter */

#newsletter{
    background-color:#35424a;
    color: white;
    padding: 15px;
}

#newsletter form{
    display: block;
    text-align: center;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding:4px;
    width:300px;
    height:38px;
}

#newsletter input[type="text"]{
    padding:4px;
    width:1000px;
    height:100px;
}

.message {
    text-align: center;
}

/* Footer */

footer{
    background: #019fb5;
    text-align: center;
    color: white;
    padding: 20px;
    border-top: black 3px solid;
}

@media(max-width: 768px){
    header #branding,
    header nav,
    header ul,
    #showcase p,
    #newsletter h1,
    #newsletter form,{
        float: none;
        text-align: center;
        width: 100%;
    }
    
    header{
        text-align: center;
    }

    #branding {
        display: block;
        width: 100%;
    }
    
    header nav{
        display: block;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    #newsletter h1{
        margin-bottom: 0;
    }

    #newsletter button{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    #newsletter form input[type="email"]{
        width:100%;
        margin-bottom: 5px;
    }

    #newsletter{
        padding: 0;
        padding-top: 15px;
    }
}