/*Colors*/
/*
rgb(223, 235, 247) - Light Blue Text Box
rgb(157, 195, 230) - Darker Blue Text Box
rgb(91, 155, 213) - Bold
rgb(0, 125, 184) - Logo
*/

body{
    background-image: url("../img/bg9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: verdana, arial, calibri;
}

/*Global*/
.spacing100{
    height: 100px;
}

.spacing50{
    height: 50px;
}

.textbox{
    margin: 20px;
    padding: 50px;
    background-color: white;
    border-radius: 1em;
    overflow: hidden;
}

.subheading{
    font-family: geneva, helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: rgb(91, 155, 213);
    color: white;
    border-radius: 5em;
    padding-left: 20px;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.line{
    width: 100%;
    height: 5px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Header*/
/*Nav*/
nav{
    width: 95%;
    position: fixed;
    top: 0;
    /* Vertical Center Hack */
    left: 50%;
    transform:translateX(-50%);
}

nav table{
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

nav table td{
    width: 20%;
    height: 60px;
    background-color: black;
    color: white;
}

nav table a{
    font-family: Geneva, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

/* Brand */
header{
    display: table;
    width: 60%;
    margin: auto;
}

header div{
    display: table-row;
}

header span{
    display: none;
}

header img{
    display: table-cell; 
}

header h1{
    font-size: 45px;
    display: table-cell;
    vertical-align: middle;
}

/*Body*/
#same_height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
#anmts{
    min-height: 500px;
    width: 40%;
    display: flex;
    font-size: 19px;
}

#anmts_txt span{
    font-weight: bold;
}

#about_me{
    min-height: 500px;
    width: 60%;
    display: flex;
    font-size: 20px;
}

#about_me span{
    font-weight: bold;
    font-size: 25px;
}

/*Skills box*/
#skills .textbox{
    text-align: center;
}

.skill_box{
    display: inline-block;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.skill_box p{
    width: 200px;
    font-size: 20px;
}

/*Work History*/
#work_history td{
    vertical-align: middle;
}

#work_history tr{
    height: 200px;
}

#work_history .bullet{
    background-color: rgb(223, 235, 247);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 2em;
}

#work_history .circle{
    padding-left: 100px;
    padding-right: 100px;
    vertical-align: middle;
}

#work_history .circle div{
    width: 40px;
    height: 40px;
    background-color: rgb(91, 155, 213);
    border-radius: 50%;    
}

#work_history .subheading{
    text-align: center;
}

/*Contact*/
#contact .textbox{
    text-align: center;
}

.contact_box{
    display: inline-block;
    padding: 50px;
    background-color: rgb(223, 235, 247);
    border-radius: 5em;
    width: 250px;
}

.contact_box img{
    width: 130px;
    height: 130px;
}

.contact_box p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#address .textbox{
    text-align: center;
}

#address iframe{
    display: inline-block;
}

#address h2{
    font-size: 40px;
    Font-family: geneva, helvetica, sans-serif;
}

#address span{
    font-weight: bold;
    color: rgb(0, 125, 184);
}

#address p{
    display: block;
    font-size: 30px;
}

/*Footer*/
footer{
    text-align: center;
    background-color: black;
    color: white;
    width: 95%;
    margin: auto;
    height: 150px;
    display: table;
}

footer p{
    display: table-cell;
    vertical-align: middle;
}

footer span{
    font-weight: bold;
    font-size: 25px;
}


