body{
    margin: 0;
    background-color: #f0f0f0; 
}

/* Global */
.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.button_1{
    width: 150px;
    height: 40px;
    background-color: #a2cf8d;
    color: white;
    border: none;
    border-radius: 10em;
    text-transform: uppercase;
}

.button_1:focus, .button_2:focus{
    outline: none;
}

.button_2{
    width: 150px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 10em;
    text-transform: uppercase;
}

.button_2:hover{
    background-color: black;
    color: white;
}

.header1 h3 {
    text-transform: uppercase;
    font-family: 'calibri', 'verdana', 'arial';
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;;
}

.header1 hr{
    margin-top:0;
    width: 50px;
    border-style:solid;
    color: black;
    border-width: 1.5px;
    margin-bottom: 50px;
    
}

/* Header */
#brand{
    color: white;
}

header{
    background: url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    padding-top: 20px;
}

header nav{
    color: white;
    float: right;    
}

header ul{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

header li{
    display: inline;
    margin-left: 30px;
    border: white 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5em;
}

header li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'calibri', 'verdana', 'arial';
    font-size: 16px;
}

header li a:hover{
    font-weight: bold;
}

#showcase{
    text-align: center;
    padding: 100px;
    color: white;
    font-family: 'calibri', 'verdana', 'arial'; 
}

#showcase h1{
    text-transform: uppercase;
    font-weight:900;
    margin-top: 0px;
    font-family: 'arial', 'calibri', 'verdana';
}

#description{
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 15px;
}

#showcase p{
    font-size: 15px;
    width: 65%;
    margin: auto;
}

#showcase button{
    margin-top: 20px;
}

#boxes{
    width: 93%;
    margin: auto;
    margin-bottom: 100px;
    overflow: hidden;
    text-align: center;
}

.sec1 .header1{
    margin-top: 85px;
}

.showbox{
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    width: 15%;
    height: auto;
    background-color: white;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

.showbox h4{
    font-family: 'Open Sans', 'arial', sans-serif;
    font-weight: bold;
}

.showbox p{
    font-family: 'calibri', 'verdana', 'arial';
}

.section_2{
    background-image: url('../img/windmills.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 90px;
}

.section_2_text{
    float: left;
    width: 50%;
    padding: 20px;
}

.section_2 h3{
    font-family: 'Open Sans', 'arial', sans-serif;
    margin-top: 100px;
    color: white;
    font-size: 25px;
}

.section_2 p{
    font-family: 'calibri', 'verdana', 'arial';
    color: white;
}

.section_2_buttons{
    margin-top: 45px;
}

.section_2_pics{
    display: inline-block;
    padding-top: 70px;
    float: right;
    
}

.cards .header1{
    margin-top: 85px;
}

.cards nav{
    width: 75%;
    margin: auto;
    text-align: center;
    
}

.cards li{
    display:inline;
    margin: 20px;
}

.cards li a{
    text-decoration: none;
    color: #4d4d4d;
    font-family: 'calibri', 'verdana', 'arial';
}

#img_all{
    width: 75%;
    margin: auto;
    text-align: center;
}

#img_all img{
    width: 300px;
    height: 250px;
    margin: 20px;
    display: inline-block;
}

.section_4 .header1{
    margin-top: 30px;
}

.section_4{
    background-image: url("../img/blog-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.section_4 hr{
    color: white;
}

.section_4 img{
    display: inline-block;
    margin-bottom: 20px;
}

#sec4_img1{
    float: left;
    width: 47%;
}

#sec4_img2{
    width: 47%;
    margin-bottom: 6px;
}

#sec4_img3{
    width: 47%;
}

#sec4_pics{
    width: 80%;
    margin: auto;
}

.sec5{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("../img/contact-bg.png");
    background-size: cover;
}

.sec5_content{
    width: 75%;
    margin: auto;
    text-align: center;
}

.sec5 .header1{
    margin-top: 86px;
}

.sec5 img{
}

.header1 h3{
    padding-top: 80px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'calibri', 'verdana', 'arial';
    margin: 0;
    padding: 20px;
}