/*Colors*/
/*
rgb(223, 235, 247) - Light Blue Text Box
rgb(157, 195, 230) - Darker Blue Text Box
rgb(91, 155, 213) - Bold
rgb(0, 125, 184) - Logo
*/

/*Global Properties*/
body{
    background-color: #f5f5f5;
}

h1{
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
}

footer{
    width: 100%;
    height: 150px;
    background-color: #424242;
    color: white;
    text-align: center;
    display: table;
}

footer div{
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
}

/*Global Assets*/
.spacing10{
    height: 10px;
}

.spacing50{
    height: 50px;
}

.valign{
    display: table;
    height: 100%;
    width: 100%;
}

.active-cust{
    text-decoration: underline;
}

.round-box{
    height: 500px;
    border-radius: 3em;
    background-color: white;
}

.resp-spacing1{
    height: 20px;
}

@media only screen and (min-width: 601px) {
  .resp-spacing1 {
      height: 40px;
  }
}

@media only screen and (min-width: 993px) {
  .resp-spacing1 {
      height: 70px;
  }
}

.container-cust {
  margin: 0 auto;
  max-width: 1700px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container-cust {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container-cust {
    width: 80%;
  }
}

.heading{
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: black solid 2px;
    font-weight: 300;
}

/*Modal*/
#consult-modal{
    border-radius: 2em;
}

#consult-modal .heading{
    padding-top: 0;
}

#consult-header{
    text-align: center;
    padding: 20px;
    border-radius: 1em;
    font-size: 30px;
    text-transform: uppercase;
}

#consult-header p{
    text-align: center;
    font-size: 20px;
    text-transform: none;
}

#consult-modal h3{
    font-size: 20px;
}

#consult-modal .btn-large{
    text-align: center;
    font-size: 25px;
    background-color: rgb(0, 125, 184);
    border-radius: 0.4em;
    color: white !important;
    padding-top: 10px;
    margin-right: 18px;
}

#consult-modal textarea{
    height: 80px;
}

/*Nav*/
.nav-wrapper{
    background-color: #eceff1;
}

nav img{
    width: 100px;
    padding-top: 7px;
}

@media only screen and (max-width: 601px) {
    nav img {
        height: 50px;
    }
}

a{
    color: black !important;
}

nav a{
    font-size: 20px !important;
}

#seperator{
    width: 1px;
    height: 64px;
    background-color: black;
}

nav .btn{
    margin-right: 0 !important;
    background-color: rgb(0, 125, 184);
    color: white !important;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.4em;
}

nav .btn:focus{
    background-color: #01579b;
}

nav .btn:hover{
    background-color: #01579b;
}

nav .badge{
    margin: 0;
    font-size: 20px;
}

nav #mobile-demo .btn{
    width: 250px;
    padding-right: 0 !important;
    padding-left: 0;
}

/*Banner*/
#banner{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 1000px;
}

@media only screen and (max-width: 601px) {
    #banner {
        height: 400px;
    }
}

@media only screen and (max-width: 993px) {
    #banner {
        height: 700px;
    }
}

#banner-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#mission-statement{
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 30px;
    background-color: rgba(223, 235, 247,0.7);
    border-radius: 5em;
    color: #222222;
}

#banner-consultation{
    font-size: 30px;
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.4em;
    color: white;
}

#banner-consultation .btn-large{
    margin-left: 50px;
    font-size: 25px;
    background-color: rgb(0, 125, 184);
    border-radius: 0.4em;
    color: white !important;
}

#banner-consultation .btn-large:focus{
    background-color: #01579b;
    color: white !important;
}

#banner-consultation .btn-large:hover{
    background-color: #01579b;
    color: white !important;
}

@media only screen and (max-width: 601px) {
    #mission-statement{
        width: 90%;
    }
    #banner-consultation{
        width: 70%;
        text-align: center;
    }
    #banner-consultation .btn-large{
        margin: auto;
        display: block;
    }
}

@media only screen and (max-width: 993px) {
    #mission-statement{
        width: 80%;
    }
    #banner-consultation{
        width: 90%;
    }
}

/*Contact Banner*/
#contact-banner{
    width: 1920px;
    height: 350px;
    background-image: url("../img/contact-banner.png");
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 50px;
    font-weight: 100;
    
/*
    background-image: -webkit-linear-gradient(left, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 5%,
        rgba(0,0,0,0.9) 70%
    ),
    url("../img/contact-banner.png");
*/
    background-image: -webkit-linear-gradient(top,
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 10%,
        rgba(0,0,0,0.9) 90%
    ),
    url("../img/contact-banner.png");
}
/*Contact Cards*/
#contact{
    text-align: center !important;
    display: table;
}

#contact h2{
    margin-top: 0;
    padding-top: 0;
}

#contact-cards{
    display: table-cell;
    border-right: 2px black solid;
    vertical-align: middle;
}

#contact-card1{
    background-color: #9e9e9e;
}

#contact-card2{
    background-color: #d7ccc8;
    
}

#contact-card1 h5{
    color: white;
}

#contact-card2 h5{
    color: #212121;
}

.contact-card{
    width: 250px;
    height: 270px;
    text-align: center;
    display:;
    vertical-align: middle;
    padding: 20px;
    margin: 10px;
    border-radius: 1em;
}

.contact-card h5{
    font-family: monospace, consolas;
    font-weight: bold;
}

.contact-card p{
    font-family: Arial, Calibri, Sans-serif;
    font-size: 20px;
}

#address{
    display: table-cell;
    vertical-align: middle;
}

iframe{
    border-radius: 1em;
}

#address span{
    color: rgb(0, 125, 184);
    font-weight: bold;
    font-size: 30px;
}

#address p{
    font-size: 25px;
    
}

@media only screen and (max-width: 601px) { 
}

@media only screen and (max-width: 993px) {
}

@media only screen and (max-width: 1400px){
    #contact-cards{
        border: none;
        padding: 0;
        display: block;
    }
    #address{
        padding: 0;
        display: block;
    }
}

/*Mail Php*/
#mail_php{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#mail_php a{
    color: dodgerblue !important;
}

/*Services Banner*/
#services-banner{
    width: 1920px;
    height: 350px;
    background-image: url("../img/services_banner.jpg");
    background-position: 0px 480px;  
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    color: black;
}

/*Services Cards*/
#services{
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
}

.card{
    background-color: white;
    display: inline-block;
    vertical-align: bottom; 
    margin: 10px;
}

#services-qb-img{
    border-right: 50px white solid;
    border-left: 50px white solid;
}

.card p{
    padding-left: 20px;
    padding-right: 20px;
}

.card img{
    width: 400px !important;
    height: 300px !important;
}

.card-content{
    background-color: white;
}
